.logo {
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
  width: 400px;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .logo {
    width: 250px;
  }
}
